/* ----------------------------------------
 CSS MASTER FILE 
---------------------------------------- */

/*Custom Resets*/
html, body {
  position:relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color: #666;
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  line-height: 150%;
}

body {
  background: #00233B url(../images/lines.svg) center;
  background-size: 130% 130%;
}

p {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
	padding: 0;
	color: #B6BDC3;
	font-size: 1.250rem;
	line-height: 150%;
}

a {
  color: #00798C;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #fff;
}

h1,h2,h3,h4,h5,ul,li,form {
  margin: 0;
  padding: 0;
  list-style: none;
}

h2 {
	color: #fff;
	text-align: center;
	font-weight: normal;
	font-size: 3.750rem;
	font-family: 'Merriweather', serif;
	line-height: 120%;
}

h2 em {
	font-weight: normal;
}

* {
	-moz-box-sizing: border-box;    
	box-sizing: border-box;
}

@media (max-width: 450px) {
	p {
		font-size: 0.875rem;
	}
	h2 {
		font-size: 1.875rem;
	}
}

/* GLOBAL  
---------------------------------------- */
.container-fluid {
	width: 100%;
}

.container {
	margin: auto;
	width: 980px;
}

.highlight {
	color: #00798C;
}

.text-center {
	text-align: center;
}

@media (max-width: 1024px) {
	.container {
		padding-right: 30px;
		padding-left: 30px;
		width: 100%;
	}
}

/*======== Layout Styles ========*/

.l-top {
	padding: 30px;
}
.l-top a {
	border: none;
}

.l-top .logo {
	max-width: 200px;
}

.l-intro {
	padding: 60px 0;
}

.l-intro h2 {
	margin-top: 30px;
	margin-bottom: 60px;
}

.l-intro p {
	margin: 1.875em auto;
	max-width: 560px;
}

.l-contact {
	margin-top: 30px;
	margin-bottom: 90px;
	padding: 0 30px;
	color: #ECECEC;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-weight: 900;
	font-size: 0.813rem;
	font-family: "lato", Helvetica, Arial, sans-serif;
	line-height: 150%;
}

.l-contact a {
	padding-bottom: 2px;
	border-bottom: 1px solid rgba(0,121,141,0.2);
}

.l-contact a:hover {
	border-bottom: 1px solid rgba(0,121,141,0);
	color: #fff;
}

@media (max-width: 450px) {
	.l-top .logo {
		max-width: 120px;
	}
	.l-contact {
		font-size: 0.625em;
	}
	.l-intro {
		padding: 30px 0;
	}
}
