{{ define "main" }}

		<div class="row">
			<div class="p-intro">{{ .Content }}</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<img src="/images/alex.jpg" alt="alexandru giurgiu"/>
				<h3>Alexandru Giurgiu</h3>
				<p>Alex has been involved in the Amsterdam Docker community since its early days and has a deep rooted passion for building lean and elegant systems. Previously, Alex worked in the trading industry, where he spent his time writing automation software and making software run faster. </p>
				<ul class="list-social list-inline">
					<li><a href="https://twitter.com/nustiudinastea"><img src="/images/i-tw.svg" alt="twitter"  /></a></li>
					<li><a href="https://www.linkedin.com/in/alexgiurgiu/"><img src="/images/i-in.svg" alt="linkedin"  /></a></li>
				</ul>
			</div>
			<div class="col-sm-6">
				<img src="/images/vali.jpg" alt="valentin giurgiu"/>
				<h3>Valentin Stoican</h3>
				<p>Valentin is passionate about technology, motorcycles, reading and traveling. Has more than 12 years of experience in IT, Telecom, Medical and Financial Services, which allows him now to design and develop versatile products and solutions for various customers.</p>
				<ul class="list-social list-inline">
					<li><a href="https://twitter.com/vstoi_can"><img src="/images/i-tw.svg" alt="twitter"  /></a></li>
					<li><a href="https://www.linkedin.com/in/valentinstoican/"><img src="/images/i-in.svg" alt="linkedin"  /></a></li>
				</ul>
			</div>
		</div>

{{ end }}
