  <!-- Footer Section
  ******************************************-->
  <footer class="footer-main container-fluid text-center pad-sm border-top">
    <img src="/images/logo-sm.svg" alt="seqvence"  /><br />
    © 2016 Seqvence. <a href="mailto:contact@seqvence.com">Contact us.</a>
    <ul class="list-social list-inline">
      <li><a href="#"><img src="/images/i-tw.svg" alt="twitter"  /></a></li>
      <li><a href="#"><img src="/images/i-in.svg" alt="linkedin"  /></a></li>
      <li><a href="#"><img src="/images/i-fb.svg" alt="facebook"  /></a></li>
      <li><a href="#"><img src="/images/i-git.svg" alt="github"  /></a></li>
    </ul>
  </footer>

  <script src="/js/particles.min.js"></script>
  <script src="/js/app.js"></script>

</body>
</html>