<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Seqvence</title>
<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
<link href="/css/base.css" rel="stylesheet" type="text/css" />
<link href="/css/layout.css" rel="stylesheet" type="text/css" />
<link href="/css/modules.css" rel="stylesheet" type="text/css" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="/js/scripts.js"></script>
</head>

<body>
	<!--  Header Section
	******************************************-->
	<header class="header-main container-fluid" id="header-main">
		<section class="top-main pad-box">
			<div class="logo"><a href="index.html"><img src="/images/logo.svg" alt="seqvence"  /></a></div>
			<button id="nav-toggle" class="btn nav-toggle"><span class="bar"></span></button>
			<nav class="nav-main">
				<ul class="no-list">
					<li class="nav-social"><a href="https://www.linkedin.com/company/seqvence"><img src="/images/i-in.svg" alt="linkedin"  /></a></li>
					<li class="nav-social"><a href="https://github.com/seqvence"><img src="/images/i-git.svg" alt="github"  /></a></li>
					<li><a href="/index.html">home</a></li>
					<li><a href="/about/">about</a></li>
					<li><a href="/blog.html">blog</a></li>
					<li><a href="mailto:contact@seqvence.com">contact</a></li>
				</ul>
			</nav>
		</section>

