<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Seqvence</title>
<link href='https://fonts.googleapis.com/css?family=Merriweather:400,300italic|Lato:400,900' rel='stylesheet' type='text/css'>
<link href="css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>

<!-- Top Section
******************************************-->
<section class="container-fluid l-top">
	<h1><a href="#"><img src="images/logo.svg" alt="seqvence" class="logo"  /></a></h1>
</section>

