{{ partial "header.html" }}

<!-- Content Section
******************************************-->
<section class="container-fluid l-intro">
	<div class="container">
		<h2>Tailored IT Solutions <em>from</em> <span class="highlight">Conception</span> <em>to</em> <span class="highlight">Completion</span></h2>

		<p>At Seqvence, we specialise in building IT systems that deliver a combination of reliability, security and ease of management.</p>
		<p>In a fast paced environment where technologies are constantly changing, we commit to helping companies efficiently and sustainably manage their infrastructure, services and processes.</p>
	</div>
</section>
<section class="container-fluid text-center l-contact">
	We’re hard at work building our new website. in the mean time, you can <a href="mailto:contact@seqvence.com">contact us here</a>, or read our <a href="/post/">blog</a>.
</section>


{{ partial "footer.html" }}
