{{ partial "header.html" . }}

<!-- Content Section
******************************************-->

		<section class="container-fluid">
			<section class="container home-header-text text-center">
				<h2 class="page-subtitle">Programmable infrastructure solutions</h2>
				<h1 class="home-page-title has-home-line">Streamline your company’s operational and development work.</h1>
			</section>
		</section>

		<div id="header-particles"></div>
	</header>

<section class="container-fluid border-top">
	
	<div class="container">
		<div class="text-center pad-md">
			<h3 class="s-title">Services we provide</h3>
		</div>

		<div class="row">
			<div class="services-wrap">
				<div class="service-box">
					<div class="service-box-icon"><img src="/images/i-config.svg" alt=""  /></div>
					<h4 class="service-box-title">Configuration management and operations automation</h4>
				</div>
				<div class="service-box">
					<div class="service-box-icon"><img src="/images/i-software.svg" alt=""  /></div>
					<h4 class="service-box-title">Software development for infrastructure related projects</h4>
				</div>
				<div class="service-box">
					<div class="service-box-icon"><img src="/images/i-cloud.svg" alt=""  /></div>
					<h4 class="service-box-title">Cloud architecture and automation</h4>
				</div>
				<div class="service-box">
					<div class="service-box-icon"><img src="/images/i-dev.svg" alt=""  /></div>
					<h4 class="service-box-title">Development pipelines and testing methodology (ci/cd)</h4>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="pad-md text-center">
				<h3 class="s-title">Our clients</h3>
				<ul class="list-inline list-pad">
					<li><img src="/images/l-docker.png" alt="docker"/></li>
					<li><img src="/images/l-sol.png" alt="docker"/></li>
					<li><img src="/images/l-pro.png" alt="docker"/></li>
					<li><img src="/images/l-kpn.png" alt="docker"/></li>
					<li><img src="/images/l-ex.png" alt="docker"/></li>
				</ul>
			</div>
		</div>

	</div>
</section>


{{ partial "footer.html" . }}
